# For more information, please refer to https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

*   @cloudwego/hertz-reviewers @cloudwego/hertz-approvers @cloudwego/hertz-maintainers
