name: Pull Request Check

on: [ pull_request ]

jobs:
  compliant:
    runs-on: [ self-hosted, X64 ]
    steps:
      - uses: actions/checkout@v3

      - name: Check License Header
        uses: apache/skywalking-eyes/header@v0.4.0

      - name: Check Spell
        uses: crate-ci/typos@master

  lint:
    runs-on: [ self-hosted, X64 ]
    steps:
      - uses: actions/checkout@v4
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: stable
          cache: false # don't use cache for self-hosted runners

      - name: Golangci Lint
        # https://golangci-lint.run/
        uses: golangci/golangci-lint-action@v6
        with:
          version: latest
          only-new-issues: true
